body {
    background-color: antiquewhite;
}

#TITOLO {
    text-align: center;
}

p {
    font-size: 22px;
}

p.commenti {
    font-size: 18px;
}

button {
    background-color:aliceblue;
    color: black;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
}

button.opt {
    padding: 6px 10px;
    font-size: 15px;
}