head {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgb(16, 107, 168);
    text-align: center;
    font: Arial;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

button {
    /*green*/
    background-color: #4CAF50;
    color: white;
    padding: 15px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}

button:hover {
    box-shadow: 0px 15px 25px -18px #0057ab;
    transform: scale(1.03);
}
button:active {
    box-shadow: 0px 4px 8px #0065c8;
    transform: scale(0.98);
}

.operandi {
    background-color: #4a3364;
    /* Purple */
    color: white;
    padding: 11px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
}

#RISULTATO {
    /* Purple */
    background-color: rgb(193, 218, 240);
    padding: 11px 20px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

#C {
    background-color: #ff0000;
    /* Purple */
    border: solid;
    color: rgb(0, 0, 0);
    padding: 11px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
}

